Здравствуйте, {{.Name}}!

Интерес к токену '{{.Token}}' {{.Change}} на {{.Percentage}}%. Дополнительная информация:
- текущий уровень интереса: {{.CurrentInterest}} ед.
- предыдущий уровень интереса: {{.PreviousInterest}} ед.
- дата и время сканирования: {{.ScanTime}}