openapi: 3.1.0

info:
  version: 1.0.0
  title: Vixar API
  description: Public API for Vixar

servers:
  - url: http://localhost:8000/api/v1/

paths:
  /api/v1/token/search:
    post:
      tags: [token]
      summary: Get info for specified token
      operationId: searchTokenInfo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchTokenInfoRequest'
      responses:
        '200':
          description: Successfully retrieved interest data
          content:
            application/json:
                schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/TokenInfo'
        '404':
          description: Token not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    SearchTokenInfoRequest:
      type: object
      properties:
        token:
          type: string
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
      required: [token, start]
    TokenInfo:
      type: object
      properties:
        token:
          type: string
        records:
          type: array
          items:
            $ref: '#/components/schemas/TokenRecord'
      required: [token, records]
    TokenRecord:
      type: object
      properties:
        timestamp:
          type: string
        features:
          type: object
          properties:
            interest:
              type: integer
              format: int64
            interest_normalized:
              type: number
              format: float64
            sentiment:
              type: integer
              format: int16
          required: [interest, interest_normalized, sentiment]
      required: [timestamp, features]

    Error:
      type: object
      properties:
        error:
          type: string
      required: [error]
